.nav-item::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: 0.4s;
}
.nav-item:hover::after {
  width: 100%;
}

/* Slider Css start */
.slider-wrapper {
  width: 90vw;
  height: 60vh;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  margin: 0 auto;
}

.slide {
  height: 90vh;
  background-size: cover;
  display: flex;
  align-items: center;
}
.slide::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000000a1, rgba(0, 0, 0, 0.767));
  bottom: 0;
  left: 0;
}

.previousButton,
.nextButton {
  background-color: white;
  width: 40px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 40%;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
}
.previousButton {
  left: 20px;
}
.nextButton {
  right: 20px;
}

/* Content */
/* .slider-content .inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
  color: #ffffff;
} */

/* Animation */
.slide h1 {
  transition: all 0.3s ease;
  transform: translateY(-20px);
  opacity: 0;
}

.slide button {
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 50px;
  margin-top: 20px;
  color: white;
  border: 1px solid white;
  transition: all 0.3s ease;
  transform: translateY(20px);
  opacity: 0;
}

.slide.current h1,
.slide.animateIn.next h1,
.slide.current button,
.slide.animateIn.next button {
  transform: translateX(0);
  transition-delay: 0.5s;
  opacity: 1;
}
/* Slider Css start */
